@font-face {
  font-family: "Gorditas";
  src: url("../fonts/Gorditas-Regular.ttf");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura\ Book\ font.ttf");
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  height: auto;
  min-width: 640px;
  background-image: url("/assets/bg.png");
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 850px;
  display: flex;
  justify-content: space-between;
  .logo {
    width: 100px;
  }
  .back {
    height: 50px;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 25px;
}
.menu-container {
  display: flex;
  flex-direction: column;
  img {
    width: 120px;
    margin-left: 100px;
  }
}
.menu {
  height: 500px;
  width: 350px;
  background-repeat: no-repeat;
  background-image: url("/assets/menu-img.png");
  background-size: 280px;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  img {
    width: auto;
    height: 25px;
    margin-bottom: 30px;
    transform: translate(-20px);
    &:hover {
      box-shadow: 9px 14px 30px 0px rgba(0, 0, 0, 0.75);
    }
  }
}

.window {
  width: 700px;
  height: 480px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.window-title{
  font-family: "Gorditas", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.window-top{
    width: 90%;
    height: 200px;
    border-radius: 15px;
    background-color: rgb(32, 34, 49); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 10px;
    color: white;
    font-size: .7rem;
    font-family: Arial, Helvetica, sans-serif;
    p:nth-child(3){
        transform: translate(-10px);
    }
}
.window-top-first{
    width: 96%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
    background-color:rgb(22, 21, 34);
    border-radius: 10px;
    img:first-child{
        width: 11%;
    }
    img:nth-child(2){
        width: 140px;
        height: 20px;
    }
}
.window-top-second{
    @extend .window-top-first;
        height: 27px;
}
.level{
   width: 50px;
    height: 15px;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    color: black;
    font-size: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.green{
    background-color:rgb(14, 205, 113);
}
.red{
    background-color:rgb(255, 72, 72);
}
.yellow{
    background-color:rgb(255, 212, 72);
}
.window-top-third{
    @extend .window-top-second;   
}
.window-top-fourth{
    @extend .window-top-second;   
}
.window-top-fifth{
    @extend .window-top-second;   
}
.window-top-sixth{
    @extend .window-top-second;
}

.window-bottom{
    @extend .window-top;
}
.bottom-green{
    background-color:rgb(114, 183, 43);
    transform: translate(-20px);
}
.bottom-red{
    background-color:rgb(148, 8, 14);
    transform: translate(-40px);
}
.country{
   width: 70px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
    color: white;
    font-size: .7rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.window-bottom-first{
   @extend .window-top-first;
   p:nth-child(2){
    transform: translate(-10px);
   }
}
.window-bottom-second{
    @extend .window-top-first;
   }
.player{
    transform: translate(-30px);
}

@media (max-width: 870px) {
  body {
    height: auto;
  }
  header {
    width: 600px;
  }
  .menu-container {
    margin-left: -105px;
    margin-right: -50px;
    img {
      margin-left: 70px;
    }
  }
  .menu {
    width: 250px;
    background-size: 250px;
    margin-left: 85px;
    padding-top: 70px;
    img {
      margin-bottom: 20px;
    }
  }
  .window {
    width: 63%;
    height: 430px;
    margin-top: 85px;
    transform: translate(50px, -65px);
    padding-top: 5px;
    justify-content: center;
  }
.window-top{
height: 380px;
}

  @media (max-width: 808px) {
    header {
    width: 550px;
  }
  .menu{
    margin-left: 50px;
  }
  .window-bottom-first, .window-bottom-second, .window-top-third,.window-top-fourth,.window-top-fifth, .window-top-sixth{
    padding-left: 5px;
  }
  .window-bottom-first{
   p:nth-child(5){
    transform: translate(10px);
   }
}
  .country{
    width: 60px;
  }
  .bottom-red{
    transform: translate(-30px);
  }
  .player{
    transform: translate(-20px);
  }
  .date{
    transform: translate(-10px);
  }
  }
}
